.leipe-papagaai{
  width: 200px;
  display: inline;
}

.maatregelen{
  .panel{
    width: 15%;
    margin: 20px 0.8% 20px 0.8%;
    padding-bottom: 10px;
    height:113px;
    h6{
      font-size: 11px;
    }
  }
}
