.program{
  background-color: #eeeeee;
  .a4{
    padding: 20px;
    h4{
      text-align: left;
    }
    .leipe-papegaai{
      width: 60px;
    }
    sub{
      font-size: 0.5em;
    }
  }
  .facebook{
    background: #365899;
    border: 1px solid #365899;
    color: white;
    cursor: pointer;
  }
}