<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h4 class="text-center">Verkiezingsprogramma <img class="leipe-papagaai" src='images/ara.png'/> Partij van de {{ partijnaam }}</h4>
      <form>
        <label>
          <input type="radio" name="gender" value="Saamhorigheid" ng-model="partijnaam">Saamhorigheid<br>
        </label>
      </form>
      <form>
        <label>
          <input type="radio" name="gender" value="Eendracht" ng-model="partijnaam">Eendracht<br>
        </label>
      </form>
      <form>
        <label>
          <input type="radio" name="gender" value="Armoe" ng-model="partijnaam">Armoe<br>
        </label>
      </form>
      <form>
        <label>
          <input type="radio" name="gender" value="Burgers die er helemaal klaar mee wezen" ng-model="partijnaam" >Burgers die er helemaal klaar mee wezen<br>
        </label>
      </form>
      <form>
        <label>
          <input type="radio" name="gender" value="Volk" ng-model="partijnaam">Volk<br>
        </label>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="maatregelen">
      <div class="panel panel-default col-md-2" ng-repeat="maatregel in maatregelen">
        <h6>{{ maatregel.title }}</h6>
        <span class="label label-primary">{{ maatregel.omzet }} miljard</span>
        <div class="btn btn-default pull-right" ng-click="addMaatregel(maatregel)">
          +
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
    <ul class="list-group">
    <li class="list-group-item" ng-repeat="maatregel in gekozenMaatregelen">{{ $index + 1 }}. {{ maatregel.title }}</li>
    </ul>
    <span class="plus">+</span>
    <div class="total-line"></div>
    </div>
  </div>
</div>